<div id>
  <h1>Role : </h1><br>
  <form ng-submit="addRoleToUser()">

    <table>
      <tr>
        <td><label for="role">Nom : </label></td>
        <td><input type="text" id="role" ng-model="role.name" > </td>
      </tr>
      <tr>
        <td><label for="role2">UserId : </label></td>
        <td><input type="text" id="role2" ng-model="role.UserId" placeholder="{{currentUser.id}}"></td>
      </tr>
      <tr>
        <td><label for="role3">ProjectId : </label></td>
        <td><input type="text" id="role3" ng-model="role.ProjectId"></td>
      </tr>
    </table>

    <input type="submit" value="Ajouter"/>
  </form>
</div>
