<div>
  <h1>Détail d'un utilisateur</h1>
  <p>ID: {{currentUser.id}}</p>
  <p>Nom: {{currentUser.name}}</p>
  <p>Prénom: {{currentUser.surname}}</p>
  <p>Email: {{currentUser.email}}</p>
  <p>Site web: {{currentUser.website}}</p>
  <p>Projets:</p>

  <div id="listProjet">
    <li id="projet" ng-repeat="project in UserProjects"><a href="#/projects/{{project.id}}">{{project.title}}</a></li>
  </div>
  <div id="role">
    <li ng-repeat="role in UserRoles">rôle : {{role.name}}</li>
  </div><br>

  <a href="#/editUser/{{currentUser.id}}">Modifier</a><br>
  <a color="red" href="#/users/" ng-click="delUserFast()">  <font color="red"> Supprimer</font></a>

</div>
