<div id="action">
  <h1>Supprimer un projet : </h1>
  <p><i>Vous pouvez également supprimer un projet<br> lorsque vous regardez son détail.</i></p>
  <form ng-submit="delProject()">

    <table>
      <tr>
        <td><label for="id">Id :</label></td>
        <td><input type="text" id="id" ng-model="project.id"></td>
      </tr>
    </table>


    <input type="submit" value="Supprimer"/>
  </form>

</div>

<div id="list">
  <h1>Liste des projets :</h1>
  <p>Recherche rapide: <input type="text" ng-model="find"></p>
  <ul>
    <li ng-repeat="project in projects | filter:find "><a href="#/projects/{{project.id}}">{{project.title}}</a>, ID : {{project.id}}</li>
    </li>
  </ul>
</div>
