
<div id="action">
  <h1>Supprimer un projet<br>associé à un utilisateur : </h1><br>
  <form ng-submit="delUserToProject()">

    <table>
      <tr>
        <td><label for="idProject">ID project : </label></td>
        <td><input type="text" id="idProject" ng-model="project.id"></td>
      </tr>
      <tr>
        <td><label for="idUser">ID utilisateur : </label></td>
        <td><input type="text" id="idUser" ng-model="user.id"></td>
      </tr>

    </table>

    <input type="submit" value="Supprimer"/>
  </form>

</div>
<div id="list">
  <h1>Listes utilisateurs et projets</h1><br>
  <p>Recherche projet: <input type="text" ng-model="find2"></p>
  <p>Recherche utilisateur: <input type="text" ng-model="find"></p>
  <ul>
    <h3>Projets :</h3>
    <li ng-repeat="project in projects | filter:find2 "><a href="#/projects/{{project.id}}">{{project.title}}</a>, ID : {{project.id}}</li>
    <h3>Utilisateurs :</h3>
    <li ng-repeat="user in users | filter:find "><a href="#/users/{{user.id}}">{{user.name}} {{user.surname}}</a>, ID : {{user.id}}
    </li>
  </ul>
</div>

